.feedContainer {
    /* margin: 0 5rem; */
    border: 1px solid red;
    display: flex;
}

img {
    max-width: 100%;
}

.textContainer {
    width: 75%;
    border: 1px solid red;
}

.imgsContainer {
    width: 25%;
    border: 1px solid blue;
}