.feedContainer {
    /* margin: 0 5rem; */
    /* border: 1px solid red; */
    display: flex;
}

img {
    max-width: 100%;
}

.textContainer {
    width: 75%;
}

.imgsContainer {
    width: 25%;
    /* border: 1px solid blue; */
}

/* Text styling */
h1 {
    text-align: center;
}

.entryDate {
    text-align: right;
}


.health, 
h2 {
    border-bottom: 1px solid black;
    margin: 0;
}

.sectionHeader {
    font-size: 2rem;
    font-weight: 300;
}

.entryText,
div.tabs {
    text-align: right;
    font-size: 1.3rem;
}

.imgsContainer {
    margin-top: 1.8rem;
    margin-left: 1rem;
}



