.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 97vh;
    margin: 0;
}

.homeParagraph {
    margin-top: 30rem;
    text-align: center;
}
