.postContainer label {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Set label width to 100% */
    font-size: 1.5rem;
  }
  
  .postContainer input,
  .postContainer select {
    width: 100%; /* Set input and select width to 100% */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 8px; /* Add padding for better appearance */
    margin-top: 5px; /* Add margin for spacing */
    display: inline-block;
  }
  
  .submitBtn {
    width: 100%; /* Set button width to 100% */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }

  .half {
    display: flex;
    justify-content: space-between;
  }
  
  .half label {
    width: 48%; /* Set label width to 48% */
  }
  
  .half input {
    width: 100%; /* Set input width to 100% */
  }
  
  input,
  select {
    border: none;
    border-bottom: .5px solid gray;
    /* outline: none; */
    cursor: text;
  }

  /* input:focus {
    border: pink 1px solid;
  } */

  
  input[type="file"] {
    font-size: 13px;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    border: none;
    border-radius: 5px;
  }

  button {
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .imgsContainer {
        display: none;
    }
    .feedContainer{
      width: 100%;
    }
}